<!--
<div class="ui small modal" id="basic_acceuil_modal"
style="left: auto;right: auto; top: auto; overflow-y: scroll; bottom: auto; height: 65%;"
>
 <div id="content_basic_acceuil_modal" class="header">Header</div>

  <div class="content">
    <div class="row">
      <div class="col-md-3"><img class="small rounded image" src="https://picsum.photos/200" /></div>
      <div class="col-sm">
        <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.
      </p>
      </div>
    </div>
  </div>
  <div class="action"></div>

 <div class="group">
    <div class="ui small images" style="margin: 1%;">

    <div class="ui small images" *ngFor="let i of [1,2,3,4, 5 , 6 , 7 , 8 , 9]" style="display: flex">
    <img
    *ngFor="let i of [1,2,3,4]"
    style="width:10%; height:100%; cursor:pointer"
    class="XXX small rounded image"
    src="https://picsum.photos/200" />
    </div>


    </div>

  </div>
</div>
-->

<div id="SearchPart" class="hero-wrap ftco-degree-bg" style="background-image: url('assets/bg_2.jpg');" >
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
          <div class="col-lg-8 col-md-6  d-flex align-items-end">
          	<div class="text text-center" id="xBloc">

	            <h2 class="mb-4"><b>Le plus simple<br>Façon de trouver une propriété</b></h2>
	            <p style="font-size: 18px;">
             Que type de maison désirez-vous ? De quel budget disposez-vous pour financer cet achat ? vous allez trouvez ce qui vous vien et vous pouvez avoir tous les renseignements nécessaires lors des visites Source
             </p>
	            <form action="" style="margin-top: 5%" class="search-location mt-md-5 ui form">
		        		<div class="row justify-content-center">
		        			<div class="col-lg-10 align-items-end ">
            				<div class="form form-group">
                    <div class="cardss">
                        <div class="login-box">
                          <div class="login-snip" style="height: auto;">
                            <form style="margin-top:-10%" class="ui form">
                           <div class="row justify-content-center">
                           <div class="col-md-3">
                           <input value="1" [(ngModel)]="basicFilter.projet" [ngModelOptions]="{standalone:true}"  id="tab-1" type="radio" name="tab" class="pulse sign-in"><label class="animate__animated pulse" for="tab-1" class="tab">Louer</label>
                           </div>
                           <div class="col-md-3">
                           <input value="2" [checked]="true" [(ngModel)]="basicFilter.projet" id="tab-2" type="radio" name="tab" class="animate__animated to_pulse_anim sign-up"><label id="acheter_label" for="tab-2" class="tab">Acheter</label>
                           </div>
                           <div class="col-md-3" hidden>
                           <input [value]="3" [(ngModel)]="basicFilter.projet" id="tab-3" type="radio" name="tab" class="animate__animated to_pulse_anim sign-in"><label class="animate__animated to_pulse_anim" for="tab-3" class="tab">Estimer</label>
                           </div>
                          </div>

                             <div class="two fields">
                              <div class="field">
                              <select [(ngModel)]="basicFilter.villes" [ngModelOptions]="{standalone:true}" class="pulse ui fluid search dropdown" multiple="">
                                <option value="" disabled selected hidden>Dans quelle ville Quartier ?</option>
                                <ng-container *ngFor="let item of listLieuxRegions">
                                  <option value="{{item.id}}_{{item.flag}}">{{item.label}}</option>
                                </ng-container>
                              </select>
                              </div>
                              <div class="field">
                                <div class="ui icon input">
                                  <input [(ngModel)]="basicFilter.max_budget" [ngModelOptions]="{standalone:true}" type="number" class="pulse" placeholder="Votre budget max ?">
                                  <i class="euro sign icon"></i>
                                </div>
                              </div>
                              </div>
                              <div class="field">

                                <button (click)="process()" class="ui fluid primary button">Chercher</button>

                              </div>

                            </form>


                          </div>
                        </div>
                      </div>

                      <!--
                        <form class="ui form">
                          <div class="two fields">
                            <div class="field">

                              <select class="ui fluid search dropdown" multiple="">
                          <option value="" disabled selected hidden>Dans quelle ville Quartier ?</option>
                          <option value="AL">Alabama</option>
                          <option value="AK">Alaska</option>
                        </select>

                            </div>
                            <div class="field">
                            <div class="ui icon input">
                          <input type="text" placeholder="Votre budget max ?">
                          <i class="euro sign icon"></i>
                        </div>
                            </div>
                          </div>
                        </form>
                        -->

			              </div>
            			</div>
		        		</div>
		        	</form>
              <div class="ui info message animate__animated" (click)="HideConnectMsgInfo()" data="true" style="position:absolute;width:100%;cursor:pointer;display:none" id="connect_msg_info">
                <div class="header animate__animated to_pulse_anim">
                  Vous avez besoin d'une recherche plus avancé ?
                </div>
                Créez un compte ou connectez vous si vous avez un
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="mouse forServicesLink">
				<a class="mouse-icon" style="animation:pulse 1.5s infinite">
					<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
				</a>
			</div>
    </div>


    <section id="services" style="margin-top:4%">
      <div class="container">

        <div class="row justify-content-center">
            <div id="services_span_res" class="col-md-12 heading-section text-center mb-5">
              <span class="subheading">Nos services</span>
              <h2 class="mb-2">La meilleure façon pour acheter une maison</h2>
              <h3 class="mb-2">Ou le vendre aussi</h3>
          </div>
        </div>

        <div class="row d-flex">

          <div class="col-md-3 d-flex align-self-stretch animate__animated to_pulse_anim">
              <div class="media block-6 services d-block text-center">
                <div class="icon d-flex justify-content-center align-items-center">

                <span style="margin-top:-5%;width:80%;height:10%"><img style="color:blue;width:100%;height:100%" src="assets/icons/camera.svg" /></span>
                <span style="display:none" class="flaticon-piggy-bank"></span></div>
                <div class="media-body py-md-4">
                  <h3>Mettre en valeur</h3>
                    <p>Shooting photo professionnel avec technologie HDR* Présentation de votre bien en vidéo.</p>
                </div>
              </div>
            </div>

          <div class="col-md-3 d-flex align-self-stretch animate__animated to_pulse_anim">
            <div class="media block-6 services d-block text-center">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-wallet"></span></div>
              <div class="media-body py-md-4">
                <h3>Négocier</h3>
                <p>Négociation du prix de vente, des conditions et délais dans votre unique intérêt.Respect de nos engagements pris lors de l'estimation. </p>

              </div>
            </div>
          </div>




          <div class="col-md-3 d-flex align-self-stretch animate__animated to_pulse_anim">
            <div class="media block-6 services d-block text-center">
            	<div class="icon d-flex justify-content-center align-items-center">
              <span style="margin-top:-5%;width:80%;height:10%"><img style="color:blue;width:100%;height:100%" src="assets/icons/estimate.svg" /></span>

              </div>
              <div class="media-body py-md-4">
                <h3>Estimer</h3>
                <p>Estimation de valeur avec dossier d'étude comparative de marché basée sur les données en temps réel grâce au SmartData*</p>
              </div>
            </div>
          </div>


          <div class="col-md-3 d-flex align-self-stretch animate__animated to_pulse_anim">
            <div class="media block-6 services d-block text-center">
            	<div class="icon d-flex justify-content-center align-items-center">
              <span style="margin-top:-5%;width:80%;height:10%"><img style="color:blue;width:100%;height:100%" src="assets/icons/contract.svg" /></span>

              </div>
              <div class="media-body py-md-4">
                <h3>Finaliser</h3>
                <p>
                Rédaction du compromis de vente, montage du dossier, suivi et accompagnement jusqu'à la remise des clés.
                </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
          <div class="col-md-3 d-flex align-self-stretch animate__animated to_pulse_anim">
            <div class="media block-6 services d-block text-center">
            	<div class="icon d-flex justify-content-center align-items-center">
              <span style="margin-top:-5%;width:80%;height:10%"><img style="color:blue;width:100%;height:100%" src="assets/icons/achat_bien.svg" /></span>

              </div>
              <div class="media-body py-md-4">
                <h3>Achat et location du bien</h3>
                <p>
                Créez un compte et laissez nous vous aidez à cherchez dans toute la France le bien qui vous vien.
               </p>
              </div>
            </div>
          </div>

          <div class="col-md-3 d-flex align-self-stretch animate__animated to_pulse_anim">
            <div class="media block-6 services d-block text-center">
            	<div class="icon d-flex justify-content-center align-items-center">
              <span style="margin-top:-5%;width:80%;height:10%"><img style="color:blue;width:100%;height:100%" src="assets/icons/realtor.svg" /></span>

              </div>
              <div class="media-body py-md-4">
                <h3>Vendre du bien</h3>
                <p>
                Créez un compte et contactez nous pour nous estimons votre bien, ou bien de le postuler et de trouver des acheteurs.</p>
              </div>
            </div>
          </div>
          </div>
          </div>
      </div>
    </section>





    <footer class="ftco-footer ftco-section" id="informations" >
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-3">
              <h2 class="">Contactez nous</h2>
              <div class="row">
              <div class="col block-23 mb-2">
              <ul>
	                <li class="animate__animated to_pulse_anim" ><span class="icon icon-map-marker"></span><span class="text">Numéro Rue Nom de rue. code postal, lieu, region, France</span></li>
	                <li class="animate__animated to_pulse_anim" ><a href="#"><span class="icon icon-phone"></span><span class="text">+Numéro de téléphone</span></a></li>
	                <li style="margin-left:-2%" class="animate__animated to_pulse_anim" ><a href="#"><i class="fax icon"></i><span class="text">+Numéro de fax</span></a></li>
                  <li class="animate__animated to_pulse_anim" ><a href="#"><span class="icon icon-envelope pr-4"></span><span class="text">adresse email de l'agence</span></a></li>
	              </ul>
              </div>
              </div>
              <ul style="display:none" class="ftco-footer-social list-unstyled mt-5">
                <li class="animate__animated to_pulse_anim"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="animate__animated to_pulse_anim"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="animate__animated to_pulse_anim"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>

          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">À propos d'Immobi</h2>
              <ul class="list-unstyled">
                <li class="animate__animated to_pulse_anim"><a href="#"><span class="animate__animated to_pulse_anim icon-long-arrow-right mr-2"></span>Nos agences</a></li>
                <li class="animate__animated to_pulse_anim"><a href="#"><span class="animate__animated to_pulse_anim icon-long-arrow-right mr-2"></span>Qui sommes-nous</a></li>
                <li class="animate__animated to_pulse_anim"><a href="#"><span class="animate__animated to_pulse_anim icon-long-arrow-right mr-2"></span>Conseils immobiliers</a></li>
                <li class="animate__animated to_pulse_anim"><a href="#"><span class="animate__animated to_pulse_anim icon-long-arrow-right mr-2"></span>Offres d’emploi</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Laissez nous un message</h2>
              <form [formGroup]="angContactForm" novalidate class="ui form">
                  <div class="field animate__animated to_pulse_anim">
                    <div class="ui left icon input">
                      <input formControlName="email" type="email" placeholder="Votre email...">
                      <i class="envelope icon"></i>
                    </div>
                    <div *ngIf="IDT('email').error">
                      <div *ngIf ="angContactForm.controls['email'].errors.required" class="ui pointing red basic label">
                        Nous avons besoins de votre email pour qu'on puisse avoir votre message
                      </div>
                      <div *ngIf ="angContactForm.controls['email'].errors.email" class="ui pointing red basic label">
                        Veuillez écrire votre email correctement, il semble qu'il ya une erreur.
                      </div>
                    </div>



                  </div>
                  <div class="field animate__animated to_pulse_anim">
                    <div class="field">
                      <textarea formControlName="message" placeholder="Votre message" rows="2"></textarea>
                     </div>
                     <div *ngIf="IDT('message').error">
                      <div *ngIf ="angContactForm.controls['message'].errors.required" class="ui pointing red basic label">
                          Veuillez écrire votre message.
                        </div>
                      </div>
                  </div>
                  <div class="field animate__animated to_pulse_anim">
                  <button [disabled]="angContactForm.invalid" (click)="sendMessage()" style="width:100%;outline:none" class="ui primary button">
                    Envoyer
                  </button>
                  </div>
              </form>
            	<div class="block-23 mb-3" style="display:none">
	              <ul style="display:none">
	                <li class="animate__animated to_pulse_anim"><span class="icon icon-map-marker"></span><span class="text">104 Rue Charle de gaulle. 75001, Chatlet, Paris, France</span></li>
	                <li class="animate__animated to_pulse_anim"><a href="#"><span class="icon icon-phone"></span><span class="text">+X XXX XXX XXX</span></a></li>
	                <li class="animate__animated to_pulse_anim"><a href="#"><span class="icon icon-envelope pr-4"></span><span class="text">boujemaa.wahid@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
      </div>

        <div class="row" style="width:100%">

          <div class="col-12 d-flex justify-content-center">
            <div class="forSearchPart form-group" style="display: inline-block; margin-top: -5%">
            <img src="assets/logo3.png" style="cursor:pointer;width:25%;height:100%;margin-left:38%" class="animate__animated to_pulse_anim"/>
            <p class="animate__animated to_pulse_anim"><b>Copyright 2020 Immobi. Tous droits réservés.</b></p>
            </div>
          </div>
        </div>
    </footer>


