<div id="SearchPart" class="hero-wrap ftco-degree-bg" style="background-image: url('assets/bg_2.jpg');" >
      <div class="overlay"></div>
      <div class="container">
              <div class="cardss">
                    <div class="login-box">
                        <div class="login-snip">

                        <input id="tab-1" type="radio" name="tab" class="animate__animated to_pulse_anim sign-in" checked><label class="animate__animated to_pulse_anim" for="tab-1" class="tab">Connectez vous</label>
                        <input style="display:none" id="tab-2" type="radio" name="tab" class="animate__animated to_pulse_anim sign-up"><label style="display:none"for="tab-2" class="tab">Sign Up</label>

                            <div class="login-space">
                                <div class="login">
                                    <form class="ui form animate__animated to_pulse_anim">
                                    <div class="group"> <label for="user" class="label">Votre identifiant</label> <input id="user" type="text" style="outline:none" class="animate__animated to_pulse_anim input" placeholder="..."> </div>
                                    <div class="group"> <label for="pass" class="label">Votre mot de passe</label> <input id="pass" type="password" style="outline:none" class="animate__animated to_pulse_anim input" data-type="password" placeholder="Votre mot de passe"> </div>
                                    <div class="group animate__animated to_pulse_anim"> <input id="check" type="checkbox" class="animate__animated to_pulse_anim check" checked> <label for="check"><span class="icon"></span> Se souvenir de moi sur cette appareil
(déconseillé sur les ordinateurs publics ou partagés)</label> </div>
                                    <div class="group"> <input type="submit" class="animate__animated to_pulse_anim button" style="outline:none" value="Accédez"> </div>
                                    </form>
                                    <div class="hr"><p class="animate__animated to_pulse_anim" style="cursor:pointer;color:white;font-style:18px;">Avez vous oublié votre mot de passe ?</p></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

      </div>
    </div>





