<div class="ui inverted segment" style="border-radius:0px;margin-bottom:0%">
  <div class="ui inverted secondary pointing menu">
    <a class="active item dynitem">
      Administrateur
    </a>
    <a (click)="locales()" class="item dynitem" id="locales">
      Locales
    </a>
    <a (click)="lieux()" class="item dynitem" id="lieux">
      Lieux
    </a>
    <div class="right menu">
      <a class="item">
      <i class="envelope outline icon"></i>
        Messages
        <div class="floating ui mini circular red label">22</div>
      </a>
      <a class="item">
        <i class="info circle icon"></i>
        Notifications
        <div class="floating ui mini circular red label">22</div>
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
