<div class="ui inverted menu">
  <div class="left menu">
  <a class="active item animate__animated to_pulse_anim" in="true">
  <i class="home icon"></i>
  Acceuil
  </a>
  <a class="item animate__animated to_pulse_anim" in="false">
    <i class="user circle icon"></i>
    Connectez vous
  </a>
  <a class="item animate__animated to_pulse_anim" in="false">
    <i class="user plus icon"></i>
    Inscrivez vous
  </a>
  <a class="item animate__animated to_pulse_anim">
  <i class="boxes icon"></i>
    Nos services
  </a>
  </div>
</div>
<router-outlet #outlet="outlet"></router-outlet>
